@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #9b0b0b;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9b0b0b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Form input text rengi her zaman siyah */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="week"],
textarea,
select {
  color: #000000 !important;
}

input::placeholder,
textarea::placeholder {
  color: #6b7280 !important;
}
